<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>line.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{568,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{568,232}}</string>
        <key>sourceSize</key>
        <string>{568,232}</string>
      </dict>
      <key>tiem_kich_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,2},{550,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{550,76}}</string>
        <key>sourceSize</key>
        <string>{550,76}</string>
      </dict>
      <key>tiem_kich_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,2},{548,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{548,75}}</string>
        <key>sourceSize</key>
        <string>{548,75}</string>
      </dict>
      <key>tiem_kich_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1680,2},{55,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,324}}</string>
        <key>sourceSize</key>
        <string>{55,324}</string>
      </dict>
      <key>tiem_kich_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,2},{38,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,23}}</string>
        <key>sourceSize</key>
        <string>{38,23}</string>
      </dict>
      <key>tiem_kich_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,29},{56,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,36}}</string>
        <key>sourceSize</key>
        <string>{56,36}</string>
      </dict>
      <key>tiem_kich_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1680,61},{313,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,69}}</string>
        <key>sourceSize</key>
        <string>{313,69}</string>
      </dict>
      <key>tiem_kich_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,89},{49,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,23}}</string>
        <key>sourceSize</key>
        <string>{49,23}</string>
      </dict>
      <key>tiem_kich_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,116},{48,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,303}}</string>
        <key>sourceSize</key>
        <string>{48,303}</string>
      </dict>
      <key>tiem_kich_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,81},{494,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{494,79}}</string>
        <key>sourceSize</key>
        <string>{494,79}</string>
      </dict>
      <key>tiem_kich_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,81},{88,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,50}}</string>
        <key>sourceSize</key>
        <string>{88,50}</string>
      </dict>
      <key>tiem_kich_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1680,134},{313,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,69}}</string>
        <key>sourceSize</key>
        <string>{313,69}</string>
      </dict>
      <key>tiem_kich_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,82},{426,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{426,62}}</string>
        <key>sourceSize</key>
        <string>{426,62}</string>
      </dict>
      <key>tiem_kich_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,82},{120,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,73}}</string>
        <key>sourceSize</key>
        <string>{120,73}</string>
      </dict>
      <key>tiem_kich_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,148},{291,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{291,68}}</string>
        <key>sourceSize</key>
        <string>{291,68}</string>
      </dict>
      <key>tiem_kich_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,159},{251,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,126}}</string>
        <key>sourceSize</key>
        <string>{251,126}</string>
      </dict>
      <key>tiem_kich_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,220},{258,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{258,30}}</string>
        <key>sourceSize</key>
        <string>{258,30}</string>
      </dict>
      <key>tiem_kich_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,220},{29,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,21}}</string>
        <key>sourceSize</key>
        <string>{29,21}</string>
      </dict>
      <key>tiem_kich_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,245},{28,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>tiem_kich_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,164},{256,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,4}}</string>
        <key>sourceSize</key>
        <string>{256,4}</string>
      </dict>
      <key>tiem_kich_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1384,164},{194,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,70}}</string>
        <key>sourceSize</key>
        <string>{194,70}</string>
      </dict>
      <key>tiem_kich_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,172},{256,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,4}}</string>
        <key>sourceSize</key>
        <string>{256,4}</string>
      </dict>
      <key>tiem_kich_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1582,173},{90,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,61}}</string>
        <key>sourceSize</key>
        <string>{90,61}</string>
      </dict>
      <key>tiem_kich_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,180},{251,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,126}}</string>
        <key>sourceSize</key>
        <string>{251,126}</string>
      </dict>
      <key>tiem_kich_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1676,207},{251,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,126}}</string>
        <key>sourceSize</key>
        <string>{251,126}</string>
      </dict>
      <key>tiem_kich_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{1931,238},{67,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,62}}</string>
        <key>sourceSize</key>
        <string>{67,62}</string>
      </dict>
      <key>tiem_kich_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{1931,207},{33,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,27}}</string>
        <key>sourceSize</key>
        <string>{33,27}</string>
      </dict>
      <key>tiem_kich_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{1968,207},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>tiem_kich_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1931,309},{101,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,61}}</string>
        <key>sourceSize</key>
        <string>{101,61}</string>
      </dict>
      <key>tiem_kich_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,238},{243,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,34}}</string>
        <key>sourceSize</key>
        <string>{243,34}</string>
      </dict>
      <key>tiem_kich_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,238},{23,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,44}}</string>
        <key>sourceSize</key>
        <string>{23,44}</string>
      </dict>
      <key>tiem_kich_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,265},{54,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,42}}</string>
        <key>sourceSize</key>
        <string>{54,42}</string>
      </dict>
      <key>tiem_kich_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,276},{192,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,70}}</string>
        <key>sourceSize</key>
        <string>{192,70}</string>
      </dict>
      <key>tiem_kich_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1575,276},{54,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>tiem_kich_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,323},{36,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,35}}</string>
        <key>sourceSize</key>
        <string>{36,35}</string>
      </dict>
      <key>tiem_kich_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{1575,337},{36,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,23}}</string>
        <key>sourceSize</key>
        <string>{36,23}</string>
      </dict>
      <key>tiem_kich_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{1666,337},{138,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,86}}</string>
        <key>sourceSize</key>
        <string>{138,86}</string>
      </dict>
      <key>tiem_kich_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,362},{119,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,52}}</string>
        <key>sourceSize</key>
        <string>{119,52}</string>
      </dict>
      <key>tiem_kich_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,418},{119,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,52}}</string>
        <key>sourceSize</key>
        <string>{119,52}</string>
      </dict>
      <key>tiem_kich_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{1931,423},{115,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,22}}</string>
        <key>sourceSize</key>
        <string>{115,22}</string>
      </dict>
      <key>tiem_kich_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,337},{53,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,20}}</string>
        <key>sourceSize</key>
        <string>{53,20}</string>
      </dict>
      <key>tiem_kich_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{1865,337},{16,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,19}}</string>
        <key>sourceSize</key>
        <string>{16,19}</string>
      </dict>
      <key>tiem_kich_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{1885,337},{18,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,30}}</string>
        <key>sourceSize</key>
        <string>{18,30}</string>
      </dict>
      <key>tiem_kich_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1931,449},{112,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>tiem_kich_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1615,362},{138,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,34}}</string>
        <key>sourceSize</key>
        <string>{138,34}</string>
      </dict>
      <key>tiem_kich_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{1615,504},{33,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,25}}</string>
        <key>sourceSize</key>
        <string>{33,25}</string>
      </dict>
      <key>tiem_kich_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,504},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>tiem_kich_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{1653,427},{75,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>tiem_kich_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{1732,427},{98,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,71}}</string>
        <key>sourceSize</key>
        <string>{98,71}</string>
      </dict>
      <key>tiem_kich_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{1807,474},{118,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,22}}</string>
        <key>sourceSize</key>
        <string>{118,22}</string>
      </dict>
      <key>tiem_kich_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1666,504},{108,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,58}}</string>
        <key>sourceSize</key>
        <string>{108,58}</string>
      </dict>
      <key>tiem_kich_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1807,500},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1728,529},{127,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,69}}</string>
        <key>sourceSize</key>
        <string>{127,69}</string>
      </dict>
      <key>tiem_kich_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1927,501},{112,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>tiem_kich_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1927,553},{112,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>tiem_kich_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1927,605},{112,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>tiem_kich_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1801,614},{112,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>tiem_kich_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1917,657},{112,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>tiem_kich_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{2033,666},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>tiem_kich_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,238},{135,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,85}}</string>
        <key>sourceSize</key>
        <string>{135,85}</string>
      </dict>
      <key>tiem_kich_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,238},{108,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,58}}</string>
        <key>sourceSize</key>
        <string>{108,58}</string>
      </dict>
      <key>tiem_kich_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,238},{106,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,19}}</string>
        <key>sourceSize</key>
        <string>{106,19}</string>
      </dict>
      <key>tiem_kich_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,238},{102,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,102}}</string>
        <key>sourceSize</key>
        <string>{102,102}</string>
      </dict>
      <key>tiem_kich_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,238},{80,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>tiem_kich_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,261},{78,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,79}}</string>
        <key>sourceSize</key>
        <string>{78,79}</string>
      </dict>
      <key>tiem_kich_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,261},{65,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,23}}</string>
        <key>sourceSize</key>
        <string>{65,23}</string>
      </dict>
      <key>tiem_kich_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,330},{63,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,23}}</string>
        <key>sourceSize</key>
        <string>{63,23}</string>
      </dict>
      <key>tiem_kich_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,300},{66,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,57}}</string>
        <key>sourceSize</key>
        <string>{66,57}</string>
      </dict>
      <key>tiem_kich_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,300},{33,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,24}}</string>
        <key>sourceSize</key>
        <string>{33,24}</string>
      </dict>
      <key>tiem_kich_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,328},{51,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,30}}</string>
        <key>sourceSize</key>
        <string>{51,30}</string>
      </dict>
      <key>tiem_kich_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,343},{52,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,51}}</string>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>tiem_kich_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,343},{48,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,23}}</string>
        <key>sourceSize</key>
        <string>{48,23}</string>
      </dict>
      <key>tiem_kich_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,327},{52,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,48}}</string>
        <key>sourceSize</key>
        <string>{52,48}</string>
      </dict>
      <key>tiem_kich_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,327},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>tiem_kich_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,361},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>tiemkich.png</string>
      <key>size</key>
      <string>{2048,707}</string>
      <key>textureFileName</key>
      <string>tiemkich</string>
    </dict>
  </dict>
</plist>
